body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f9;
}
.hidden {
    display: none;
}
.screen {
    text-align: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.choice {
    margin: 10px;
    padding: 10px 20px;
    border: 1px solid #007bff;
    border-radius: 5px;
    background-color: #e7f1ff;
    cursor: pointer;
}
.choice:hover {
    background-color: #d0e7ff;
}
button {
    padding: 10px 20px;
    margin: 10px;
    background: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background: #0056b3;
}
#peer-id {
    margin: 10px 0;
    padding: 5px;
}
#start-screen{
    display: flex;
    flex-direction: column;
    align-content: center;
}